.contenedor{
    position:relative;
    display: block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 40px;
}
.centrado{
    position: absolute;
    top: 20%;
    left: 42%;
    transform: translate(-50%, -50%);
}